* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// CSS Variables

//colors
$very-dark-blue: #191826;
$cyan: #66e2dc;
$cream: #fcfaf9;
$orange: #fa7453;
$light-orange: #ffb964;

//device breakpoints
$tablet: 768px;
$desktop: 1440px;

//custom scrollbar styles
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  width: 3px;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background: $orange;
}

::-webkit-scrollbar-thumb:hover {
  background: $cyan;
}

body {
  display: flex;
  justify-content: center;

  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  color: $very-dark-blue;
  background-image: url(/assets/img/bg-main-mobile.png);
  background-size: 120% 40%;
  background-position: top -250px left 60px;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    background-image: url(/assets/img/bg-main-tablet.png);
    background-size: 170% 55%;
    background-position: top -190px left -350px;
  }

  @media (min-width: $desktop) {
    background-size: 125% 70%;
    background-position: top -250px left -300px;
  }
}

.container {
  position: relative;

  header {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px;
    position: relative;

    .header-img {
      display: none;
      height: 360px;
      width: 250px;
      position: absolute;
      top: 0;
      right: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .logo {
      height: 15%;
      display: flex;
      align-items: center;
    }

    .heading {
      height: 35%;

      h1 {
        font-size: 40px;
        font-weight: 900;
        line-height: 48px; /* 120% */
        letter-spacing: -0.455px;
      }
    }

    .description {
      height: 40%;

      p {
        font-size: 16px;
        line-height: 26px; /* 162.5% */
      }
    }

    @media (min-width: $tablet) {
      padding: 40px;
      height: 65vh;

      .header-img {
        display: block;
      }

      .heading {
        height: 35%;

        h1 {
          width: 520px;
          font-size: 64px;
          font-weight: 900;
          line-height: 64px; /* 120% */
          letter-spacing: -0.727px;
        }
      }

      .description {
        height: 40%;

        p {
          width: 520px;
          font-size: 18px;
          line-height: 28px; /* 162.5% */
        }
      }
    }

    @media (min-width: $desktop) {
      padding: 40px 156px;
      height: 85vh;

      .header-img {
        height: 400px;
      }

      .heading {
        h1 {
          width: 900px;
          font-size: 88px;
          font-weight: 900;
          line-height: 88px; /* 120% */
          letter-spacing: -0.727px;
        }
      }

      .description {
        height: 40%;

        p {
          width: 900px;
          font-size: 20px;
          line-height: 34px; /* 162.5% */
        }
      }
    }
  }

  main {
    height: 1092px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;

    section.phone {
      width: 100%;
      height: 546px;
      display: flex;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        width: 209px;
        height: 430px;
        position: absolute;
      }

      .bg-blue {
        align-self: flex-end;
        width: 100%;
        height: 60%;
        border-radius: 12px 12px 0 0;
        background-color: $very-dark-blue;
        background-image: url(/assets/img/bg-pattern-2.svg);
        background-size: 75% 120%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    section.offering-container {
      width: 100%;
      max-width: 446px;
      height: 540px;
      border-radius: 12px;
      position: absolute;
      top: 539px;
      z-index: 1000;

      .offering {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 48px 36px;
        background-color: $orange;
        border-radius: 12px;
        color: $cream;

        .heading,
        .description,
        .price,
        .btn-action {
          width: 100%;
          display: flex;
        }

        .heading,
        .price {
          height: 12%;
          align-items: center;
        }

        .heading {
          h2 {
            font-size: 32px;
            font-weight: 900;
            line-height: 40px; /* 125% */
          }
        }

        .description,
        .btn-action {
          height: 30%;
        }

        .description {
          align-items: center;
          color: #fcfaf9;
          font-family: IBM Plex Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 155.556% */
        }

        .price {
          span:nth-of-type(1) {
            font-size: 65px;
            font-weight: 700;
            line-height: 52px; /* 80% */
          }

          span:nth-of-type(2) {
            font-size: 20px;
            line-height: 32px; /* 160% */
            letter-spacing: -0.2px;
            margin-left: 16px;
          }
        }

        .btn-action {
          flex-direction: column;
          justify-content: space-between;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 296px;
            height: 61px;
            border: none;
            border-radius: 12px;
            font-weight: 700;
            font-size: 18px;
            transition: all 0.35s ease-in-out;

            img {
              margin-right: 5px;
            }

            &:hover {
              cursor: pointer;
            }
          }

          button.apple {
            background-color: $very-dark-blue;
            color: $cream;

            &:hover {
              background-color: $cyan;
            }
          }

          button.android {
            background-color: $cream;
            color: $very-dark-blue;

            &:hover {
              background-color: $light-orange;
            }
          }
        }
      }
    }

    @media (min-width: $tablet) {
      height: 725px;
      padding: 0 40px;
      margin-top: 30px;

      section.phone {
        height: 600px;

        img {
          width: 270px;
          height: 556px;
          left: 50px;
          bottom: 150px;
        }

        .bg-blue {
          height: 600px;
          background-size: 40% 75%;
          background-position: top;
        }
      }

      section.offering-container {
        width: 399px;
        top: 175px;
        right: 100px;
        z-index: 1000;
      }
    }

    @media (min-width: $desktop) {
      height: 725px;
      padding: 0 156px;
      margin-top: 110px;

      section.phone {
        img {
          width: 280px;
          height: 606px;
          left: 75px;
          bottom: 200px;
        }

        .bg-blue {
          background-size: 30% 75%;
          background-position: top 30px left 290px;
        }
      }

      section.offering-container {
        width: 446px;
        height: 625px;
        top: 150px;
        right: 200px;

        .offering {
          .btn-action {
            button {
              width: 100%;
              height: 72px;
            }
          }
        }
      }
    }
  }

  footer {
    height: 350px;
    position: relative;
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .description {
      height: 50%;
      font-size: 16px;
      line-height: 26px; /* 162.5% */
    }

    .social {
      img {
        margin-left: 20px;
        width: 20px;
        height: 20px;

        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }

    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 80px 40px;

      .heading {
        width: 100%;
        display: flex;

        img {
          width: 146px;
          height: 43px;
        }
      }

      .description,
      .social {
        width: 50%;
      }

      .description {
        display: flex;
        align-items: center;
      }

      .social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    @media (min-width: $desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 80px 156px;

      .heading,
      .social {
        width: 30%;
        height: 100%;
      }

      .heading {
        align-items: center;
      }

      .description {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }

  @media (min-width: $tablet) {
    max-width: 1440px;
  }
}
